nav {
	margin-top: 60px;
}
nav a  {
	background-color: rgb(252,250,252);
	border-right: 2px solid rgb(246,244,246);
	border-bottom:  2px solid rgb(246,244,246);
	height: 350px;
	width: 18%;
	float: left;
	margin-right: 6px;
	padding-top:40px;
	text-decoration: none;
	color: rgb(115,113,115);
	text-align: center;
}
h2  {
	font-family: 'Roboto', sans-serif;
}
h5 {
	font-style: oblique;
	color: rgb(115,113,115) !important;
}
p {
	font-family: 'Lato', sans-serif;
}
span {
	font-size: 40px;
}
a:hover {
	background-color: white;
	color: #a6b8d9;
	transform: scale(1.2);
}
